name: deploy to EC2

on:
  push:
    branch:
      - main

jobs:
  deploy:
    name: Push to Ec2
    runs-on: ubuntu-Latest
    steps:
      - name: Execute remote SSH commands using SSH key
        uses: appleboy/ssh-action@v1
        with:
          host: 13.127.173.163
          username: ubuntu
          key: ${{ secrets.PRIVATE_SSH_KEY }}
          port: 22
          script: whoami
